.product-order-types-block
	.container
		.product-order-types-list
			.product-order-types-item-wrap
				.product-order-types-item
					.product-order-types-flex-wrap
						.product-order-types-name
							p домокомплект

						.product-order-types-price
							p от 4 040 000 &#8399;
						.product-order-types-option
							p.option-true Проект
							p.option-true Материалы (брус, доска, что-то еще, другое тоже тут будет)
							p.option-false Без монтажа
					.product-order-types-button
						.form-field
							a(
								href="javascript:;"
								class="callback-button-light button_3"
							) заказать


			.product-order-types-item-wrap
				.product-order-types-item
					.product-order-types-flex-wrap
						.product-order-types-name
							p под самоотделку

						.product-order-types-price
							p от 4 240 000 &#8399;
						.product-order-types-option
							p.option-true Проект
							p.option-true Материалы (брус, доска, что-то еще, другое тоже тут будет)
							p.option-true Монтаж
					.product-order-types-button
						.form-field
							a(
								href="javascript:;"
								class="callback-button-light button_3"
							) заказать


			.product-order-types-item-wrap
				.product-order-types-item
					.product-order-types-flex-wrap
						.product-order-types-name
							p под ключ

						.product-order-types-price
							p от 7 000 000 &#8399;
						.product-order-types-option
							p.option-true Проект
							p.option-true Материалы (брус, доска, что-то еще, другое тоже тут будет)
							p.option-true Монтаж
							p.option-true Отделка
					.product-order-types-button
						.form-field
							a(
								href="javascript:;"
								class="callback-button-light button_3"
							) заказать