.modal-wrap
    .modal-header
        p Header
    form(action="")
        input(
            type="text"
            placeholder="Ваше имя"
            )
        input(
            type="text"
            placeholder="Ваш e-mail"
            )
        input(
            type="submit"
            value="Отправить"
        )
        